<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <property name="CONSOLE_LOG_STRUCTURED_FORMAT"
            value="${CONSOLE_LOG_STRUCTURED_FORMAT:-logstash}"/>
  <include resource="org/springframework/boot/logging/logback/structured-console-appender.xml"/>
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
